.search{
	&-wrap{
		text-transform: uppercase;
		position: relative;
		border-radius: 25px;
		overflow: hidden;
		padding-right: 45px;
		width: 100%;
		max-width: 140px;
		background: #ededed;
		@media only screen and (max-width : 1000px) {
			max-width: 220px;
		}
		@media only screen and (max-width : 700px) {
			display: none;
		}
		input[type="text"]{
			padding: 0 0 0 27px;
			background: #ededed;
			color: #919293;
			font-size: 15px;
			line-height: 45px;
			border: none;
			font-family: "GothamPro", arial, sans-serif;
			outline: none;
			text-transform: uppercase;
			width: 100%;
		}
		input[type="submit"]{
			outline: none;
			border: none;
			position: absolute;
			right: 0;
			top: 0;
			width: 45px;
			height: 45px;
			color: transparent;
			display: block;
			background:url(../img/search-ic.png) center no-repeat;
		}
	}
}