.menu-wrap{
	position: relative;
	.menu-button{
		cursor: pointer;
		display: none;
		border: 1px solid #005a85;
		border-radius: 4px;
		padding: 10px 9px;
		position: relative;
		width: 86px;
		box-sizing: border-box;
		@media only screen and (max-width : 1000px) {
			display: block;
		}
		span{
			text-align: right;
			text-transform: uppercase;
			font-size: 13px;
			color: #01648e;
			display: block;
			line-height: 1.3;
			font-family: "GothamProBold", arial, sans-serif;
		}
		i{
			height: 3px;
			width: 16px;
			background: #006685;
			position: absolute;
			left: 9px;
			&:first-child{
				top: 11px;
			}
			&:nth-child(2){
				top: 16px;
			}
			&:nth-child(3){
				top: 21px;
			}
		}
	}
	.main-menu{
		background: #fff;
		font-family: "GothamProBold", arial, sans-serif;
		@media only screen and (max-width : 1000px) {
			display: none;
		}
		li{
			display: inline-block;
			list-style: none;
			padding: 0;
			@media only screen and (max-width : 1000px) {
				display: block;
			}
			a{
				text-decoration: none;
				display: block;
				color: #1a3747;
				font-size: 15px;
				text-transform: uppercase;
				margin: 0 27px;
				padding: 10px 0;
				border-bottom: 4px solid transparent;
				@media only screen and (max-width : 1200px) {
					font-size: 14px;
				}
				@media only screen and (max-width : 1000px) {
					padding: 10px 0;
					border: none;
				}
			}
		}
		.point-active a{
			border-color: #f2b600;
		}
	}
}

