.socials-wrapper{
	max-width: 160px;
    width: 100%;
    display: inline-block;   
}
.socials-inner{
    max-width: 90px;
    @media only screen and (min-width : 1024px) {
        max-width: 160px;
    }
}
.wearesocials{
	color: white;
	font-family: "GothamProRegular";
	font-size: 15px;
	font-weight: 400;
	line-height: 28px;
	display: block;
	margin-bottom: 12px;
}
.socials-link {
    background: #fff;
    width: 34px;
    height: 34px;
    text-align: center;
    display: inline-block;    
    font-size: 18px;
    margin-right: 1.5px;
    i{
    	color: #34393b;
    	padding-top: 9px;
    }
}



@media screen and (min-width: 992px) {
}