.clear{clear:both;}

#reviewStars-input input:checked ~ label, #reviewStars-input label,
 #reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  background: url('../../img/star2.png') no-repeat;
  background-position: top center;
  outline: none;
  border: none;
}

#reviewStars-input {
    overflow: hidden;
    zoom:0;  
    position: relative;
    width: 130px;
    display: inline-block;   
    vertical-align: bottom;
    @media only screen and (min-width : 650px) {
          width: 155px;
           padding-top: 5px;
    }
}

#reviewStars-input input {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;  
  width: 21px;
  height: 25px;  
  position: absolute;
  top: 0;
  z-index: 0;
   @media only screen and (min-width : 650px) {
       width: 25px;
       height: 25px;  
    }
}

#reviewStars-input input:checked ~ label {
  height: 25px;
  width: 21px;
  background: url('../../img/star1.png') no-repeat;
    @media only screen and (min-width : 650px) {
       width: 25px;
       height: 25px;  
    }
}

#reviewStars-input label {
  height: 25px;
  width: 21px;
  float: right;
  cursor: pointer;
  margin-right: 5px;  
  position: relative;
  z-index: 1;
    @media only screen and (min-width : 650px) {
       width: 25px;
       height: 25px;  
    }
}
#reviewStars-input label:hover, #reviewStars-input label:hover ~ label {
  height: 25px;
  width: 21px;
  background: url('../../img/star1.png') no-repeat;
    @media only screen and (min-width : 650px) {
       width: 25px;
       height: 25px;  
    }
}


.rateandshare_bg{
    background-color: #eeeeef;
}
.rateandshare_container{
    // max-width: 1175px;
    margin: 0 auto;
    padding: 25px 10px 30px 10px;
    @media only screen and (min-width : 990px) {
      padding: 25px 5px 30px 0px !important;
    }
}
.rate_block{    
     text-align: center;
     margin-bottom: 15px;
    @media only screen and (min-width : 650px) {
        float: left;
        margin-bottom: 0px;
    }
}
.rate_block__rate{
    display: inline-block;
    vertical-align: bottom;
    color: #484e4c;
    font-family: "GothamProMedium";
    font-size: 15px;
    font-weight: 500;
    line-height: 29px;
     @media only screen and (min-width : 650px) {
         font-size: 19px;
         margin-right: 14px;
    }
}

.rate_block__nums{
    color: #878f8c;
    font-family: "GothamProRegular";
    font-size: 15px;
    font-weight: 400;
    line-height: 29px;
    display: inline-block;
    vertical-align: bottom;
    i{
        font-style: normal;
    }
}


.share_block{
    // max-width: 240px;
    // width: 100%;   
    margin: 0 auto;
    text-align: center;
    @media only screen and (min-width : 650px) {
      float: right;
      display: inline-block;
    }
}
.share{
    background-image: url("../../img/shareimg.png");
    background-repeat: no-repeat;
    background-position: right top 2px;
    color: #39434d;
    font-family: "GothamProLight";
    font-size: 13px;
    font-weight: 300;
    line-height: 19px;
    display: inline-block;
    padding: 5px 15px 7px 0;
}
.share__socials{
    margin-left: 14px;
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
}