.h2 {
	font-family: "GothamProRegular", arial, sans-serif ;
	color: #393f41;
	font-size: 39px;
	line-height: 1.3;
	font-weight: 400;
	padding: 0;
	margin: 0;
	@media only screen and (max-width : 1000px) {
		font-size: 35px;
	}
	@media only screen and (max-width : 700px) {
		font-size: 25px;
	}
	&_light{
		font-size: 30px;
		text-decoration: underline;
		color: #395e8e;
		@media only screen and (max-width : 1000px) {
			font-size: 30px;
		}
	}
	&_white{
		color: #fff;
	}
}